.menu-body{
    background-image: url("/static/assets/img/Mountain.jpg");
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    margin: 0;
    color: white;
}

.btn-custom {
    border: none;
    border-radius: 20px;
    padding: 10vh; /* Optional: Can be replaced with Bootstrap's .btn-lg */
    color: white;
    font-size: larger;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Button Colors */
.ice { background-color: #8ea7b8b7; }
.confess { background-color: #5078a0b7; }
.deep { background-color: #041333b7; }
.other { background-color: rgba(173, 216, 230, 0.43); }

/* Hover Effects */
.ice:hover, .confess:hover, .deep:hover {
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.ice:hover { background-color: #7a95a1b7; }
.confess:hover { background-color: #42668eb7; }
.deep:hover { background-color: #031029b7; }

/* Active Effects */
.ice:active, .confess:active, .deep:active {
    transform: scale(1.05);
}

.ice:active { background-color: #819eabb7; }
.confess:active { background-color: #4975a7b7; }
.deep:active { background-color: #0c1f44b7; }

body{
    height: 100vh;
    text-align: center;
    background-position-y: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    margin: 0;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.ice-body{
    background-image: url("/static/assets/img/IceBreaker.jpg");
}
.confess-body{
    background-image: url("/static/assets/img/Confess.jpg");
}
.deep-body{
    background-image: url("/static/assets/img/ocean.jpg");
}
.card-menu{
    width: 60%;
    margin: auto;
}
.card-container{
    border: 3px solid white;
    border-radius: 20px;
    padding: 10rem 3rem;
    margin: 1rem 0;
}
.ice-card{
    background-color: rgba(139, 163, 183, 0.5);
}
.confess-card{
    background-color: #8ba2a44c;
}
.deep-card{
    background-color: #40595c4c;
}
.direction-buttons{
    margin-bottom: 1rem;
}
.prev-button{
    border: none;
    background-color: rgba(167, 188, 208, 0.7);
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    margin: .5rem;
}
.next-button{
    border: none;
    background-color: rgba(93, 137, 176, 0.7);
    color: white;
    padding: .5rem 1rem;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
    margin: .5rem;
}
.next-button:hover{
    background-color: rgba(78, 140, 193, 0.7);
    transform: scale(1.1);
}
.prev-button:hover{
    background-color: rgba(168, 214, 255, 0.7);
    transform: scale(1.1);
}
.next-button:active{
    background-color: rgba(59, 119, 172, 0.7);
    transform: scale(1.05);
}
.prev-button:active{
    background-color: rgba(147, 205, 255, 0.7);
    transform: scale(1.05);
}
.confess-button {
    border: none;
    background-color: #8ba2a4d3;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.confess-button:hover{
    background-color: #9db5b8b9;
    transform: scale(1.10);
}
.confess-button:active{
    background-color: #6c8486c1;
    transform: scale(1.05);
}
.directions{
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.ice-button {
    border: none;
    background-color: rgba(139, 163, 183, 0.5);
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.ice-button:hover{
    background-color: rgba(160, 186, 207, 0.5);
    transform: scale(1.10);
}
.ice-button:active{
    background-color: rgba(114, 142, 164, 0.5);
    transform: scale(1.05);
}
.deep-button {
    border: none;
    background-color: #40595c4c;
    color: white;
    padding: 1rem 2rem;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s;
}
.deep-button:hover{
    background-color: #5573764c;
    transform: scale(1.10);
}
.deep-button:active{
    background-color: #2b4a4d4c;
    transform: scale(1.05);
}

