/* Body Styling */
body {
    height: 100vh;
    text-align: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    display: flex;
/*    align-items: center; */
    margin: 0;
    color: white;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.menu-body{background-image: url("/static/assets/img/Mountain.jpg");}
.ice-body{background-image: url("/static/assets/img/IceBreaker.jpg");}
.confess-body{background-image: url("/static/assets/img/Confess.jpg");}
.deep-body{background-image: url("/static/assets/img/ocean.jpg");}
.user-question-body{background-image: url("/static/assets/img/user_questions.jpg")}


/* App Header*/
.page-header {
    margin-top: 3rem;
}

.page-header h1 {
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.4);
    letter-spacing: 1px;
}

.page-header a{
    cursor: pointer;
}

.page-header .btn {
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 8px;
    padding: 0.4rem 1rem;
    background-color: #8ea7b8b7;
    transition: background-color 0.3s ease;
}

.page-header .btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

/* Card Container*/
.card-menu{
    width: 60%;
    margin: auto;
    border: none
}

.card-menu h1{
    color: white;
    text-transform: uppercase;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
    border-bottom: 3px solid rgba(255, 255, 255, 0.6);
    padding-bottom: 8px;
}

.card-container{
    border: 3px solid rgba(255, 255, 255, 0.7);
    border-radius: 20px;
    padding: 10rem 3rem;
    margin: 1rem 0;
    backdrop-filter: blur(4px);
    box-shadow: 0px 4px 12px rgba(255, 255, 255, 0.4);
    transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.card-container:hover{
    transform: translateY(-5px);
    box-shadow: 0px 8px 20px rgba(255, 255, 255, 0.5);
}

.card-container p {
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
}

/* Card Backgrounds*/
.ice-card{background-color: rgba(139, 163, 183, 0.5);}
.confess-card{background-color: #8ba2a44c;}
.deep-card{background-color: #40595c4c;}
.user-card{background-color: rgba(139, 163, 183, 0.65);}

/* Buttons */
.btn-custom {
    border: none;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 15px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
}

/* Main Menu Buttons*/
.ice, .confess, .deep, .other {
    border-radius: 20px;
    padding: 10vh;
    font-size: larger;
    width: 100%;

    backdrop-filter: blur(8px); /* Softens all buttons */
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    box-shadow: 0px 4px 8px rgba(0, 30, 60, 0.4);
    cursor: pointer;
}

/* Button Colors */
.ice { background-color: #8ea7b8b7; }
.confess { background-color: #5078a0b7; }
.deep { background-color: #041333b7; }
.other { background-color: rgba(173, 216, 230, 0.43); }

/* Hover Effects */
.ice:hover, .confess:hover, .deep:hover, .other:hover{
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5);
    transform: scale(1.1);
}

.ice:hover { background-color: #7a95a1b7; }
.confess:hover { background-color: #42668eb7; }
.deep:hover { background-color: #031029b7; }
.other:hover { background-color: rgba(170, 230, 210, 0.43);}

/* Active Effects */
.ice:active, .confess:active, .deep:active, .other:active {
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
    transform: scale(1.05);
}

.ice:active { background-color: #819eabb7; }
.confess:active { background-color: #4975a7b7; }
.deep:active { background-color: #0c1f44b7; }
.other:active { background-color: rgba(173, 230, 210, 0.63); }


/*Navigation Buttons*/
.prev-button, .next-button {
    margin: 0.5rem;
    padding: 0.5rem 1rem;
    border: none;
    color: white;
    border-radius: 10px;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    backdrop-filter: blur(8px);
    cursor: pointer;
    font-weight: bold;
    font-size: 14px;
    box-shadow: 0px 4px 8px rgba(0, 40, 80, 0.4);
}

.prev-button { background-color: rgba(167, 188, 208, 0.7); }
.next-button { background-color: rgba(93, 137, 176, 0.7); }

.prev-button:hover, .next-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 8px rgba(255, 255, 255, 0.4);
}

.prev-button:hover { background-color: rgba(168, 214, 255, 0.7); }
.next-button:hover { background-color: rgba(78, 140, 193, 0.7); }

.prev-button:active, .next-button:active {
    transform: scale(1.05);
    box-shadow: 0px 0px 8px rgba(0, 40, 80, 0.8);

}

.prev-button:active { background-color: rgba(147, 205, 255, 0.7); }
.next-button:active { background-color: rgba(59, 119, 172, 0.7); }

/* Direction Button Styling */
.confess-button, .ice-button, .deep-button {
    padding: 1rem 2rem;
    border-radius: 10px;
    backdrop-filter: blur(8px);
    transition: background-color 0.3s, transform 0.3s,  box-shadow 0.3s;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    box-shadow: 0px 4px 8px rgba(0, 40, 80, 0.4);
}

.confess-button { background-color: #8ba2a4d3; }
.ice-button { background-color: rgba(139, 163, 183, 0.5); }
.deep-button { background-color: #40595c4c; }

/* Direction Buttons Hover Effects */
.confess-button:hover, .ice-button:hover, .deep-button:hover {
    transform: scale(1.1);
    box-shadow: 0px 0px 15px rgba(255, 255, 255, 0.5);
}

.confess-button:hover { background-color: #9db5b8b9; }
.ice-button:hover { background-color: rgba(160, 186, 207, 0.5); }
.deep-button:hover { background-color: #5573764c; }


/* Direction Buttons Active Effects */
.confess-button:active, .ice-button:active, .deep-button:active {
    transform: scale(1.05);
}

.confess-button:active { background-color: #6c8486c1; }
.ice-button:active { background-color: rgba(114, 142, 164, 0.5); }
.deep-button:active { background-color: #2b4a4d4c; }

/* Checkbox Styling */
.custom-checkbox {
    width: 22px;
    height: 22px;
    border-radius: 5px;
    border: 2px solid rgba(255, 255, 255, 0.7);
    background-color: transparent;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

/* Checked Checked */
.custom-checkbox:checked {
    background-color: rgba(255, 255, 255, .8);
    border-color: rgba(255, 255, 255, .8);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.6);
}

/* Hover Effect */
.custom-checkbox:hover {
    border-color: rgba(255, 255, 255, .8);
    transform: scale(1.1);
}

/* Active Click Effect */
.custom-checkbox:active {
    transform: scale(0.95);
}

