{% extends "base.html" %}

{% block title %}Confess Questions{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock%}
{% block body_class %}confess-body{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card-menu">
        <h1 class="mb-4">Confess</h1>

        <div class="card-container card-body confess-card">
            <p class="question-text"></p>
        </div>

        <div class="d-flex justify-content-center align-items-center mt-3 gap-3">
            <button class="btn btn-custom prev-button mx-2" onclick="previousQuestion()">&#x2190; Prev</button>
            {%if session_id%}
            <form action="/answered" method="get" class="d-flex flex-column align-items-center">
                <label class="form-check-label fw-bold" for="answeredCheckbox">Answered</label>
                <input class="form-check-input custom-checkbox" type="checkbox" id="answeredCheckbox" value="answered">
            </form>
            {%endif%}
            <button class="btn btn-custom next-button mx-2" onclick="nextQuestion()">Next &#x2192;</button>
        </div>


        <div class="d-flex justify-content-md-between justify-content-center mt-4 flex-wrap gap-3">
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                <a href="{{ url_for('icebreaker', session_id=session_id) if session_id else url_for('icebreaker') }}"
                   class="d-flex flex-column w-100" style="text-decoration:none; color:white">
                    <button class="btn btn-custom ice-button w-100 flex-grow-1">Ice Breaker</button>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 d-flex align-items-stretch">
                <a href="{{ url_for('deep', session_id=session_id) if session_id else url_for('deep') }}"
                      class="d-flex flex-column w-100" style="text-decoration:none; color:white">
                    <button class="btn btn-custom deep-button w-100 flex-grow-1">Deep</button>
                </a>
            </div>
        </div>
    </div>
</div>

  <script>
        let questions = {{ questions | tojson | safe }};
        let index = 0;

        function updateQuestion(){
            const questionText = document.querySelector('.question-text');
            questionText.innerText = questions[index].text;
        }

        function previousQuestion(){
            if(index > 0){
                index--;
                updateQuestion();
            }
        }

        function nextQuestion(){
            if(index < questions.length - 1){
                index++;
                updateQuestion();
            }
        }

        window.onload = function() {
            if (questions.length > 0) {
                updateQuestion();
            } else {
                document.querySelector('.question-text').innerText = "No icebreaker questions available.";
            }
        }

  </script>
{% endblock %}