{% extends "base.html" %}

{% block title %}Confess Questions{% endblock %}
{% block stylesheet %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock%}
{% block body_class %}confess-body{% endblock %}

{% block content %}
  <div class="card-menu">
        <h1>Confess</h1>
        <div class="card-container confess-card">
            <p class="question-text">{{ question[0].question}}</p>
        </div>
        <div class="direction-buttons">
            <button class="prev-button" onclick="previousQuestion()">&#x2190; Prev</button>
            <button class="next-button" onclick="nextQuestion()">Next &#x2192;</button>
        </div>
        <div class="directions">
            <form action="/icebreaker" method="get">
                <button name="ice-button" class="ice-button">Ice Breaker</button>
            </form>
            <form action="/deep" method="get">
                <button name="deep-button" class="deep-button">Deep</button>
            </form>
        </div>
  </div>

  <script>
        let questions = {{ question | tojson | safe }};
        let index = 0;

        function updateQuestion(){
            const questionText = document.querySelector('.question-text');
            questionText.textContent = questions[index].question;
        }

        function previousQuestion(){
            if(index > 0){
                index--;
                updateQuestion();
            }
        }

        function nextQuestion(){
            if(index < questions.length - 1){
                index++;
                updateQuestion();
            }
        }
  </script>
{% endblock %}