{% extends "base.html" %}

{% block title %}Confess Questions{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock%}
{% block body_class %}confess-body{% endblock %}

{% block content %}
<div class="container text-center">
    <div class="card-menu">
        <h1 class="mb-4">Confess</h1>

        <div class="card-container card-body confess-card">
            <p class="question-text"></p>
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-custom prev-button mx-2" onclick="previousQuestion()">&#x2190; Prev</button>
            <button class="btn btn-custom next-button mx-2" onclick="nextQuestion()">Next &#x2192;</button>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <form action="/icebreaker" method="get">
                <button class="btn btn-custom ice-button">Ice Breaker</button>
            </form>
            <form action="/deep" method="get">
                <button class="btn btn-custom deep-button">Deep</button>
            </form>
        </div>
    </div>
</div>

  <script>
        let questions = {{ questions | tojson | safe }};
        let index = 0;

        function updateQuestion(){
            const questionText = document.querySelector('.question-text');
            questionText.innerText = questions[index].text;
        }

        function previousQuestion(){
            if(index > 0){
                index--;
                updateQuestion();
            }
        }

        function nextQuestion(){
            if(index < questions.length - 1){
                index++;
                updateQuestion();
            }
        }

        window.onload = function() {
            if (questions.length > 0) {
                updateQuestion();
            } else {
                document.querySelector('.question-text').innerText = "No icebreaker questions available.";
            }
        }

  </script>
{% endblock %}