{% from "bootstrap5/form.html" import render_form %}
{% extends "base.html" %}

{% block title %}Ask and Connect{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
{% endblock%}
{% block body_class %}start-body{% endblock %}

{% block content %}
<div class="start-menu">
    <h1>Ask and Connect</h1>
    <h3>3 - Levels</h3>
<!--    If account already logged in they can start-->
    {%if current_user.is_authenticated:%}
    <a href="{{url_for('menu')}}">
        <button>Start</button>
    </a>
<!--    Otherwise they must either login or register-->
    {%else:%}
    <a href="{{url_for('login')}}">
        <button>Login!</button>
    </a>

    <a href="{{url_for('register')}}">
        <button>Register</button>
    </a>
    {%endif%}
    <p>Ask and answer questions that lead to deeper connections</p>
</div>
{% endblock %}
