{% extends "base.html" %}

{% block title %}Select Difficulty{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock%}
{% block body_class %}menu-body{% endblock %}

{% block content %}
<div class="container text-center">
    <h2 class="mb-4 mt-5  text-wrap text-break">Select Level</h2>
    <div class="main-menu ">
        <div class="row justify-content-center">
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                <a href="{{ url_for('icebreaker', session_id=session_id) if session_id else url_for('icebreaker') }}"
                   class="d-flex flex-column w-100" style="text-decoration:none; color:white">
                    <button class="btn ice btn-custom w-100 flex-grow-1" name="ice-button" value="ice-button">
                        Ice Breaker
                    </button>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                <a href="{{ url_for('confess', session_id=session_id) }}"
                   class="d-flex flex-column w-100" style="text-decoration:none; color:white">
                    <button class="btn confess btn-custom w-100 flex-grow-1" name="confess-button" value="confess-button">
                        Confess
                    </button>
                </a>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                <a href="/deep{% if session_id %}?session_id={{ session_id }}{% endif %}"
                   class="d-flex flex-column w-100" style="text-decoration:none; color:white">
                    <button class="btn deep btn-custom w-100 flex-grow-1" name="deep-button" value="deep-button">
                        Deep
                    </button>
                </a>
            </div>
<!--            If the user is logged in. Their other questions will appear-->
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4 d-flex align-items-stretch">
                <a href="/deep{% if session_id %}?session_id={{ session_id }}{% endif %}"
                   class="d-flex flex-column w-100" style="text-decoration:none; color:white">
                    <button class="btn other btn-custom w-100 flex-grow-1" name="your-button" value="your-button">
                        Your Questions
                    </button>
                </a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
