{% extends "base.html" %}

{% block title %}Sessions{% endblock %}
{% block stylesheet %}
{{ bootstrap.load_css() }}
<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/bootstrap.css') }}">
{% endblock%}
{% block body_class %}sessions-body{% endblock %}

{% block content %}

<div class="container py-5 text-center">
    <div class="session-card shadow-lg p-4 mt-5">
        <h1 class="my-3 pb-4 sessions-header">Sessions</h1>
        <div class="sessions-gallery">
            {%for session in game_sessions:%}
            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
                <div class="session-item">
                    <button class="session-button">{{session.name}}</button>
                    <a href="#">✖</a>
                </div>
            </div>
            {%endfor%}
<!--            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">-->
<!--                <div class="session-item">-->
<!--                    <button class="session-button">Session 2</button>-->
<!--                    <a href="#">✖</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">-->
<!--                <div class="session-item">-->
<!--                    <button class="session-button">Session 3</button>-->
<!--                    <a href="#">✖</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">-->
<!--                <div class="session-item">-->
<!--                    <button class="session-button">Session 4</button>-->
<!--                    <a href="#">✖</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">-->
<!--                <div class="session-item">-->
<!--                    <button class="session-button">Session 5</button>-->
<!--                    <a href="#">✖</a>-->
<!--                </div>-->
<!--            </div>-->
<!--            <div class="col-lg-3 col-md-4 col-sm-6 mb-4">-->
<!--                <div class="session-item">-->
<!--                    <button class="session-button">Session 6</button>-->
<!--                    <a href="#">✖</a>-->
<!--                </div>-->
<!--            </div>-->
        </div>
    </div>

    <div class="sessions-gallery mt-5">
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="session-item">
                <a href="{{url_for('create_session')}}"><button class="session-button option-button">Add Session</button></a>
            </div>
        </div>
        <div class="col-lg-3 col-md-4 col-sm-6 mb-4">
            <div class="session-item">
                <a href="{{url_for('menu')}}"><button class="session-button option-button">No Session</button></a>
            </div>
        </div>
    </div>
</div>

<script>

</script>
{% endblock %}