{% extends "base.html" %}

{% block title %}My Questions{% endblock %}
{% block stylesheet %}
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/other.css') }}">
{% endblock%}
{% block body_class %}user-question-body{% endblock %}

{% block content %}
<div class="container text-center mt-5">
    <div class="page-header text-center mb-4">
         <a href="{{ url_for('home') }}" class="text-decoration-none">
            <h1 class="display-5 fw-bold mb-3">Build Connections</h1>
        </a>
    </div>
    <div class="card-menu">
        <a href="{{ url_for('menu', session_id=session_id) if session_id else url_for('menu') }}"
           class="text-decoration-none">
            <h2 class="mb-4">My Questions</h2>
        </a>
        <div class="card-container card-body user-card">
            {%if not questions%}
            <p>Make sure to add your own questions!</p>
            {%else%}
            <p class="question-text"></p>
            {%endif%}
        </div>

        <div class="d-flex justify-content-center mt-3">
            <button class="btn btn-custom prev-button mx-2" onclick="previousQuestion()">&#x2190; Prev</button>
            <button class="btn btn-custom next-button mx-2" onclick="nextQuestion()">Next &#x2192;</button>
        </div>
    </div>
</div>
<script>
    let questions = {{ questions | tojson | safe }};
    let index = 0;

    function updateQuestion(){
        const questionText = document.querySelector('.question-text');
        questionText.innerText = questions[index].text;
    }

    function previousQuestion(){
        if(index > 0){
            index--;
        }else{
            index = questions.length - 1
        }
        updateQuestion();
    }

    function nextQuestion(){
        if(index < questions.length - 1){
            index++;
        }else{
            index = 0
        }
        updateQuestion();
    }

    window.onload = function() {
        if (questions.length > 0) {
            updateQuestion();
        } else {
            document.querySelector('.question-text').innerText = "No icebreaker questions available.";
        }
    }
</script>
{% endblock %}